iframe[src^="//player.bilibili.com/"], iframe[src^="https://player.bilibili.com/"], iframe[src^="http://player.bilibili.com/"] {
    border-width: 0px;
}

iframe.onebox-163music-iframe{
    border: 0px;
    margin: 0px;
    width: 330px;
    max-height: 800px;
    min-height: 52px;
}

.onebox-bilibili{
    display: flex;
    flex-direction: column;
}

.onebox-bilibili-button{
    border-bottom-left-radius: .2em;
    border-bottom-right-radius: .2em;
    align-self: flex-end;
    width: 30%;
    height: 1.5em;
    background-color: #FF6699;
    color: #fff;
}

@media (prefers-color-scheme: dark) {
    .onebox-bilibili-button{
        background-color: gray;
    }
}